:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --font-san-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;;
  --font-code: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  --font-serif: 'Martel', system-ui, serif;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-serif);
  font-weight: 400;
  color: var(--darkgray);
  background-color: var(--white);
}
p,
.tmpl-post li,
img {
  /* max-width: 37.5em; [> 600px /16 <] */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}
blockquote {
  border-left: 4px solid var(--gray);
  margin: 1.4em 0;
  padding: 0 0 0 1.4em;

}
pre,
code {
  font-family: var(--font-code);
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from 1;
  padding: 0 0 4em;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* custom styles */
.sidebar {
  /* display: grid; */
  /* height: calc(100vh - 5rem); */
  /* grid-template-rows: 5rem auto 5rem; */
  /* position: fixed; */
  /* top: 5rem; */
  /* width: 264px; */
  /* text-align: right; */
}

header {
  position: fixed;
  background: white;
  width: 100%;
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr auto;
}
nav {
  padding-top: 7rem;
}

main {
  text-align: left;
  padding: 2rem 1.125rem;
}

footer {
  padding: 1.125rem;
}

.book-title {
  padding: 2rem 1.125rem;
}
.book-title-link {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 700;
}
.book-sub-title {
  color: var(--gray);
  font-weight: 700;
  margin: 0;
}

ul.toc {
  background: white;
  margin: 0;
  padding: 0 1.125rem;
  list-style: none;
  width: 100%;
  max-height: 0;
  overflow-y: hidden;
  position: fixed;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.toc-item {
  margin: 0;
  padding: 0.25rem;
  display: block;
}
.toc-item a {
  text-decoration: none;
}

.toc-item a:hover {
  text-decoration: underline;
}

/* toggle menu*/
#toggleToC {
  position: fixed;
  top: 2rem;
  right: 1.125rem;
  z-index: 4;
  width: 1.6667rem ; /*30px;*/
  height: 1.3334rem; /*24px;*/
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.burger-bar-1,
.burger-bar-2,
.burger-bar-3 {
  width: 1.3334rem; /*24px;*/
  height: 0.1667rem; /*3px;*/
  background-color: #333;
  margin: 0.3334rem 0; /*6px 0;*/
  transition: 0.4s;
  position: fixed;
}
.burger-bar-1 {
  top: 2rem;
  right: 1.125rem;
}
.burger-bar-2 {
  top: 2.4rem;
  right: 1.125rem;
}
.burger-bar-3 {
  top: 2.8rem;
  right: 1.125rem;
}
input#toggleToC:checked ~ .burger-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-0.275rem, 0.275rem);
  transform: rotate(-45deg) translate(-0.275rem, 0.275rem);
}

input#toggleToC:checked ~ .burger-bar-2 {
  opacity: 0;
}

input#toggleToC:checked ~ .burger-bar-3 {
  -webkit-transform: rotate(45deg) translate(-0.275rem, -0.275rem);
  transform: rotate(45deg) translate(-0.275rem, -0.275rem);
}
input#toggleToC:checked ~ ul {
  max-height: 100%;
}
/* toggle menu ends here */

footer p {
  font-family: var(--font-san-serif);
  font-size: 0.8rem;
  margin:0;
  color: var(--gray)
}

ul.pagination {
  list-style: none;
  margin: 2rem 0;
  padding: 2rem 0 0;
  border-top: 1px solid var(--lightgray);
}

@media (min-width: 48rem) {
  body {
    overflow: hidden;
  }
  .container {
    display: grid;

    grid-template-areas:
      "header content"
      "nav content"
      "footer content";

    grid-template-columns: 30% 1fr;
    grid-template-rows: auto 1fr 5rem;
    grid-gap: 1.125rem;
    width: 100vw;
    height: calc(100vh - 1rem);
  }
  header {
    display: block;
    position: static;
    grid-area: header;
    text-align: right;
  }

  nav {
    grid-area: nav;
    text-align: right;
    padding-top: 0;
    position: static;
    text-align: right;
    width: auto;
  }
  #toggleToC,
  .burger-bar-1,
  .burger-bar-2,
  .burger-bar-3 {
    display: none;
  }
  ul.toc {
    display: block;
    overflow-y: inherit;
    max-height: 100%;
    position: static;
  }

  .toc-item {
    border-right: 0.25rem solid transparent;
    padding: 0.25rem 0.5rem 0 0;
  }
  .toc-item-active {
    border-right: 0.25rem solid var(--gray);
  }

  main {
    grid-area: content;
    text-align: left;
    overflow-y: scroll;
  }
  .content {
    max-width: 48rem;
  }

  footer {
    grid-area: footer;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media ( max-width: 48rem ) {
  body {
    font-family: var(--font-san-serif);
  }
}
