---
layout: layouts/home.njk
---

<h1>Introduction</h1>
<pre>
<code>
को नहीं जानत है जग में कपि,
संकटमोचन नाम तिहारो 
</code>
</pre>

<em>
Ko Nahi Jaanat Hai Jag Mein Kapi,
<br />
Sankatmochan Naam Tiharo
</em>

<blockquote>
<p>
Who in this world doesn't know, "Your name is Sankatmochan (Problem Solver)"
</p>
</blockquote>

<em>SankatMochan Ashtakam</em> is a 
<a href="{{ '/posts/chapter1/' | url }}">When He Swallowed The Sun</a>
