---
layout: layouts/home.njk
---

<h1>Introduction</h1>

<pre><code>
को नहीं जानत है जग में कपि,
संकटमोचन नाम तिहारो 
</code></pre>
<p>
Ko Nahi Jaanat Hai Jag Mein Kapi,
<br />
Sankatmochan Naam Tiharo
</p>
<blockquote>
<p>
Who in this world doesn't know, "Your name is Sankatmochan (Problem Solver)"
</p>
</blockquote>
<h2 id="story">Preface <a class="direct-link" href="#story">#</a></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lorem purus, pretium in nibh in, scelerisque posuere justo. Morbi ex ante, euismod a metus vel, aliquet porttitor quam. Mauris id sollicitudin lorem. Nulla mollis nulla et aliquam efficitur. Maecenas auctor lacus nec tortor posuere, convallis pharetra lectus lobortis. Proin sit amet mauris elit. In pellentesque molestie lectus non placerat. Ut sit amet tortor quis arcu sodales rhoncus. Ut et turpis vel nulla feugiat cursus non ut urna. Cras at ante diam. In non massa ornare, congue lorem eget, molestie velit. Sed rutrum sagittis faucibus.</p>
<p>Morbi lobortis nisl non fringilla iaculis. Vivamus a turpis felis. Nullam et justo nec arcu blandit feugiat. Maecenas ullamcorper viverra magna, sed porttitor ligula ornare a. Suspendisse vel nibh id justo pulvinar fermentum vel sit amet velit. Vestibulum at leo accumsan, blandit erat lobortis, elementum mi. Proin tincidunt tortor venenatis nisi dapibus, eu commodo nunc rutrum. Curabitur congue lacinia ultricies. Cras scelerisque pretium sem. Vivamus in aliquet ex. Duis fringilla efficitur odio, vel ullamcorper leo dictum id. Quisque efficitur metus massa, ut pharetra velit malesuada a. Nunc ac malesuada tortor. Nunc vitae blandit lorem.</p>
<p>Nulla vel imperdiet odio. Sed sapien tellus, euismod et eleifend quis, rhoncus non enim. Praesent odio mi, ultrices id mattis et, luctus ut ex. Sed vulputate viverra orci, in dignissim nibh convallis et. Suspendisse lobortis maximus nibh in fringilla. Duis accumsan euismod nunc eget mollis. Cras pretium semper luctus. Vivamus fermentum pretium velit ut faucibus. Nam rhoncus enim augue, eu vulputate nibh commodo mattis. Nullam euismod nulla scelerisque hendrerit rhoncus.</p>
<p>Ut congue magna id arcu hendrerit, vulputate aliquet nisl gravida. Sed id velit rutrum, sollicitudin ligula vitae, consequat urna. Aenean ultrices ultricies purus, quis condimentum tortor ultrices a. Mauris fermentum justo in lorem venenatis, nec sollicitudin enim porttitor. Pellentesque quis dolor at massa fringilla tempus. Donec magna purus, aliquam a cursus ut, dapibus ac nisl. Ut elementum sapien ac tortor mollis ullamcorper.</p>
<p>Vestibulum sodales, erat et rutrum dictum, arcu sem facilisis nunc, eu ornare sapien risus id orci. Etiam eu sem eu ipsum rutrum convallis sit amet non libero. Ut ultricies urna ut arcu tincidunt, nec posuere ex imperdiet. Sed vitae egestas felis. Praesent eu accumsan magna. Quisque metus arcu, auctor eu mollis sit amet, pulvinar cursus ex. Nunc placerat tempor blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer porta sapien et fringilla luctus. Etiam porttitor sodales enim, vel congue elit vestibulum et. Nullam sed orci rhoncus, suscipit nulla at, blandit est. Pellentesque non lacinia turpis, id cursus lectus. Integer eu erat in massa varius bibendum. Donec porttitor urna nec efficitur euismod. Duis mollis varius vulputate.</p>


<ul class="pagination"><li>Start here: <a href="/posts/chapter1/">When He Swallowed The Sun</a></li>
</ul>
