<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container">
    <header>
      <div class="book-title">
        <a href="/" class="book-title-link">Sankat Mochan</a>
        <p class="book-sub-title">The Problem Solver</p>
      </div>
    </header>
    <nav>
      <input id="toggleToC" type="checkbox"/>
      <div class="burger-bar-1"></div>
      <div class="burger-bar-2"></div>
      <div class="burger-bar-3"></div>
      <ul class="toc">
        {%- for entry in collections.all | eleventyNavigation("Sankatmochan") %}
        <li class="toc-item{% if entry.url == page.url %} toc-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="content">
        {{ content | safe }}
      </div>
    </main>
    <footer>
      <p>Made with &#10084; by <a href="https://amandogra.com">Aman Dogra</a>.
      <p>Powered by <a href="https://www.11ty.dev">Eleventy</a>.</p>
      <p>Thanks to <a href="http://www.typeoff.de/">Dan</a> for font <a href="https://github.com/typeoff/martel">Martel</a>.</p>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
    </div>
  </body>
</html>
