/* All copyrights are reserved with Aman Dogra (amandogra.com) Unless specified*/
body,
html {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  font-family: var(--font-serif);
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--heading-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding-right: calc(2em + env(safe-area-inset-right));
  padding-left: calc(2em + env(safe-area-inset-left));
  max-width: 64rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
header {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
main {
  display: flex;
  flext-direction: row;
  justify-content: left;
  padding-bottom: 6rem;
}
footer {
  padding-bottom: 2rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  display: block;
  text-decoration: none;
  letter-spacing: -11.25px;
}
.logo img {
  height: 100%;
  width: auto;
}
.logo .first-m {
  color: var(--text-color)
}
.logo .second-m {
  color: var(--accent-color)
}
.title-block {
  width: 50%;
}
.title {
  padding-bottom: 3rem;
}

.title > span {
  display: block;
  letter-spacing: 0.17rem;
  font-weight: 400;
}
p.subtitle {
  padding-right: 2rem;
  font-size: 32px;
  font-weight: 300;
  max-width: 26rem;
}
.main-action-block {
  position: relative;
  width: 50%;
}
.main-action {
  display: inline-block;
  position: relative;
  top: calc(50% - 0.5rem);
  left: calc(50% - 5rem);
}
.main-action:after {
  background-color: transparent;
  border: var(--border-size) solid var(--border-color);
  content: '';
  border-radius: 50%;
  display: block;
  height: 8rem;
  width: 8rem;
  position: absolute;
  top: -3rem;
  z-index: 1;
  animation-name: fade-in;
  animation-duration: 3s;
}
.arrow {
  position: absolute;
  left: 4.8rem;
  top: 0.9rem;
  z-index: 2;
  animation-name: arrow-appear;
  animation-duration: 2s;
}

.arrow::after,
.arrow::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 4px;
  right: -8px;
  background-color: var(--accent-color);
}

.arrow::after {
  top: -0.65rem;
  transform: rotate(45deg);
}

.arrow::before {
  top: 0.65rem;
  transform: rotate(-45deg);
}
.main-action:hover .arrow {
  animation: float 2s ease-out infinite;
}
@keyframes arrow-appear {
  from {
    right: 0.8rem;
  }
  to {
    right: 0.4rem;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.credits {
  font-size: 0.9rem;
  padding-top: 1.8rem;
  position: relative;
  text-transform: uppercase;
}
.credits::before {
  content: '';
  position: absolute;
  top: 0;
  width: 10rem;
  height: var(--border-size);
  background-color: var(--border-color);
}
/* accessibility related classes */
.a11y {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

/* Small screen definitions*/
@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
  p.subtitle {
    max-width: 100%;
  }
  .container {
    max-width: 100%;
  }
  header {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
  main {
    display: block;
  }
  .title-block {
    width: 100%;
    padding-bottom: 2rem;
  }
  .title {
    font-size: 3rem;
  }
  .main-action-block {
    padding-bottom: 3rem;
  }
  .main-action {
    margin-top: 5rem;
    left: 0;
  }
  footer {
    margin-bottom: 2rem;
  }
}

@keyframes float {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(20px);
  }
  100% {
    transform: translatex(0px);
  }
}

