
body,
html {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: block;
  font-family: var(--font-serif);
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--heading-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 2;
  margin: 0;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}
a:hover {
  color: var(--accent-color);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: relative;
}
.main-content {
  position: relative;
}
.main-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc {
  position: relative
}
.story-list li {
  padding: 1rem 0;
}

.story-list li span {
  display: inline-block;
  color: var(--secondary-color);
}
.story-list li a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}
/* scrolling effects */
/* html([data-scroll='0']) header { */
  /* position: static; */
/* } */
/* html:not([data-scroll='0']) header { */
  /* position: fixed; */
  /* left: 0; */
  /* right: 0; */
/* } */

@media (min-width: 480px) {
}
